.container{
    height: 100vh;
    padding: 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header{
    display: grid;
    justify-content: center;
    padding-bottom: 2rem;
}

.footer{

    text-align: center;
    margin-top: 2rem;
}